body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Circular",sans-serif;
  font-weight: normal; }

html {
  scroll-behavior: smooth;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }

a {
  color: #201D1D; }
  a:hover {
    text-decoration: none; }

/* header */
nav {
  position: absolute;
  height: 100px;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100; }

.header {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
  padding-top: 30px;
  width: 100%;
  z-index: 100; }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.header li a {
  display: block;
  padding: 20px 20px;
  color: #ffffff;
  text-decoration: none; }

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none; }

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none; }

.header .menu-icon .navicon {
  background: #FEFEFE;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px; }

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #FEFEFE;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%; }

.header .menu-icon .navicon:before {
  top: 5px; }

.header .menu-icon .navicon:after {
  top: -5px; }

/* menu btn */
.header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 240px; }

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg); }

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg); }

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

/* 48em = 768px */
@media (min-width: 48em) {
  .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  .header .menu-icon {
    display: none; }
  .header ul li {
    float: left; }
    .header ul li a {
      padding: 30px  20px 10px; }
  .header ul .dropdown .dropdown-menu {
    border: none;
    -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
    -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
    -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
    -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
    box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.015);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
    .header ul .dropdown .dropdown-menu .dropdown-item {
      padding-top: .4em;
      padding-bottom: .1em;
      color: #444444; }
    .header ul .dropdown .dropdown-menu .dropdown-item.active {
      background-color: transparent;
      color: #a21b1f;
      position: relative; }
  .header .dropdown .dropdown-menu {
    -moz-transition: all 0.25s, transform 0.3s;
    -webkit-transition: all 0.25s, transform 0.3s;
    -ms-transition: all 0.25s, transform 0.3s;
    -o-transition: all 0.25s, transform 0.3s;
    transition: all 0.25s, transform 0.3s;
    max-height: 200px;
    display: block;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-0.9em); }
  .header .dropdown:hover > .dropdown-menu {
    visibility: visible;
    max-height: 200px;
    opacity: 1;
    margin-top: 10px;
    transform: translateY(0);
    -moz-transition: all 0.25s, transform 0.3s;
    -webkit-transition: all 0.25s, transform 0.3s;
    -ms-transition: all 0.25s, transform 0.3s;
    -o-transition: all 0.25s, transform 0.3s;
    transition: all 0.25s, transform 0.3s; }
  .header .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none; } }
@media (max-width: 767px) {
  .header li:first-of-type {
    padding-top: 20px !important; }
  .header li:last-of-type {
    padding-bottom: 20px !important; }

  .header li a {
    padding: 10px 20px !important;
    color: #201D1D !important; }

  .header .menu {
    background: #FEFEFE !important;
    -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019);
    -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019);
    -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019);
    -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019);
    box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    float: right !important; }

  .menu ul li a {
    color: white;
    font-size: 1.05em; }
  .menu ul li .nav-link {
    padding-left: 9vw !important;
    padding-top: 20px !important; }
  .menu ul .dropdown-menu {
    background: transparent !important;
    position: relative !important;
    width: 100% !important;
    padding-top: 0;
    margin-top: 0; }
    .menu ul .dropdown-menu a:hover {
      background: none !important; }
    .menu ul .dropdown-menu a {
      font-size: .92em !important;
      position: relative;
      left: 10%;
      padding: .2rem 1.5rem;
      color: #dbd0d0; }
    .menu ul .dropdown-menu .dropdown-item {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important; }
    .menu ul .dropdown-menu .dropdown-item.active {
      background-color: transparent;
      position: relative; } }
.feature-header {
  background: #FF0000;
  background-image: linear-gradient(to right, #0575e6, #0b5eca, #0b47af, #083194, #021b79);
  height: 100vh;
  background-image: radial-gradient(circle farthest-side at 50% 0%, #2e81d8, #010a72) no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  overflow: auto; }
  .feature-header .header-container {
    position: relative;
    text-align: center; }
    .feature-header .header-container .hero-head {
      color: #FEFEFE;
      padding: 2em 0 0 0; }
      .feature-header .header-container .hero-head h4 {
        font-size: 40px;
        font-size: 3rem; }
      .feature-header .header-container .hero-head p {
        padding-top: 15px;
        font-size: 28px; }
  .feature-header .relative {
    height: 100%; }
  .feature-header .hero-link {
    z-index: 100 !important;
    padding-top: 30px; }
    .feature-header .hero-link .get-assessed {
      color: #ffffff;
      padding: 10px 30px;
      font-size: 18px;
      font-weight: 400;
      -webkit-text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
      -o-text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
      -ms-text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
      -moz-text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
      text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
      background: #9e1a1e;
      background: #28a745;
      -moz-transition: all 0.45s;
      -webkit-transition: all 0.45s;
      -ms-transition: all 0.45s;
      -o-transition: all 0.45s;
      transition: all 0.45s;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019);
      -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019);
      -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019);
      -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019);
      box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.08), 3px 3px 14px 1px rgba(0, 0, 0, 0.18), 2px 4px 18px 3px rgba(0, 0, 0, 0.019); }
      .feature-header .hero-link .get-assessed:hover {
        color: #eaeaea;
        color: #7f1518;
        background: #761417;
        background: #FEFEFE;
        -moz-transition: all 0.45s;
        -webkit-transition: all 0.45s;
        -ms-transition: all 0.45s;
        -o-transition: all 0.45s;
        transition: all 0.45s;
        text-decoration: none; }
    .feature-header .hero-link .scroll-down {
      position: relative;
      height: 100%; }
      .feature-header .hero-link .scroll-down a {
        position: absolute;
        left: 49vw;
        top: 8vh;
        width: 5vw;
        height: 10vh;
        margin-left: -2.5vw;
        background-image: url(../images/icons/scroll.svg);
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        -moz-transition: all 0.6s;
        -webkit-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s; }
        .feature-header .hero-link .scroll-down a:hover {
          -moz-transition: all 0.6s;
          -webkit-transition: all 0.6s;
          -ms-transition: all 0.6s;
          -o-transition: all 0.6s;
          transition: all 0.6s;
          top: 9.5vh; }

/*background particle*/
#particles-js {
  height: 100%;
  position: relative;
  padding: 200px 0 180px; }

.particles-js-canvas-el {
  position: absolute !important;
  z-index: 90;
  top: 0; }

/*background particle ends*/
/*hire a dev*/
.mission {
  position: relative;
  overflow: hidden;
  padding-top: 5em;
  padding-bottom: 5em; }
  .mission:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 640px;
    background: #F6F8FA;
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    overflow: hidden !important; }
  .mission .mission-header {
    padding: 0em 30px 3em;
    padding-bottom: 35px; }
    .mission .mission-header p {
      font-size: 17px;
      color: #444444; }
  .mission .card-content {
    background: #FEFEFE;
    padding: 3em 6em 4.5em;
    height: 100%;
    position: relative;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.03), 3px 3px 14px 1px rgba(0, 0, 0, 0.03), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.03), 3px 3px 14px 1px rgba(0, 0, 0, 0.03), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.03), 3px 3px 14px 1px rgba(0, 0, 0, 0.03), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.03), 3px 3px 14px 1px rgba(0, 0, 0, 0.03), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.03), 3px 3px 14px 1px rgba(0, 0, 0, 0.03), 2px 4px 18px 3px rgba(0, 0, 0, 0.014); }
    .mission .card-content p {
      color: #888888;
      font-size: 17px;
      padding-bottom: 10px; }
      .mission .card-content p span {
        color: #4b0c0e; }
    .mission .card-content .get-started-container {
      position: absolute;
      bottom: 40px;
      width: 100%;
      left: 0;
      font-size: 16px; }
      .mission .card-content .get-started-container .get-started {
        padding: 8px 20px;
        color: #ffffff;
        background: #d80000;
        -moz-transition: all 0.45s;
        -webkit-transition: all 0.45s;
        -ms-transition: all 0.45s;
        -o-transition: all 0.45s;
        transition: all 0.45s;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        text-align: center; }
        .mission .card-content .get-started-container .get-started:hover {
          -moz-transition: all 0.45s;
          -webkit-transition: all 0.45s;
          -ms-transition: all 0.45s;
          -o-transition: all 0.45s;
          transition: all 0.45s;
          color: #e6e6e6;
          background: #990000; }
  .mission h4 {
    color: #444444;
    padding-bottom: 10px;
    color: #030977;
    font-size: 2.2rem; }

/*hire a dev ends*/
/*partners*/
.partners {
  background: #FEFEFE;
  padding-top: 5em;
  padding-bottom: 5em; }
  .partners .row div {
    margin-bottom: 30px; }
  .partners h4 {
    color: #030977;
    font-size: 2rem; }
  .partners a .company {
    width: 151px;
    height: 50px;
    -moz-transition: all 0.85s;
    -webkit-transition: all 0.85s;
    -ms-transition: all 0.85s;
    -o-transition: all 0.85s;
    transition: all 0.85s;
    object-fit: contain;
    -webkit-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1); }
  .partners a:hover .company {
    -moz-transition: all 0.85s;
    -webkit-transition: all 0.85s;
    -ms-transition: all 0.85s;
    -o-transition: all 0.85s;
    transition: all 0.85s;
    -webkit-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014); }

/*partners ends*/
/*how it works*/
.how-it-works-container {
  padding-bottom: 5em;
  padding-top: 5em;
  background: #fafafa;
  background-image: linear-gradient(to bottom, #1b66e7, #0b47af, #0b5eca, #0575e6);
  background-size: cover; }
  .how-it-works-container .timeline-content {
    -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014);
    box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.02), 3px 3px 14px 1px rgba(0, 0, 0, 0.02), 2px 4px 18px 3px rgba(0, 0, 0, 0.014); }
  .how-it-works-container .process-title {
    font-size: 2rem;
    color: #030977;
    color: #ffffff; }

/*how it works ends*/
/*blog*/
.blog {
  padding: 5em;
  background: #fafafa;
  position: relative;
  overflow: hidden !important; }
  .blog:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 640px;
    background: rgba(236, 241, 245, 0.8);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg); }
  .blog h4 {
    color: #030977;
    font-size: 2rem; }
  .blog .blog-container {
    padding-right: 1.5em;
    padding-left: 1.5em; }
    .blog .blog-container .blog-body {
      margin-top: 2em;
      padding-top: 2em;
      padding-bottom: 2em;
      background: #FEFEFE;
      padding-left: 0 !important;
      padding-right: 0 !important;
      -webkit-border-color: white;
      -moz-border-color: white;
      -o-border-color: white;
      -ms-border-color: white;
      border-color: white;
      -webkit-border-width: 1px;
      -moz-border-width: 1px;
      -o-border-width: 1px;
      -ms-border-width: 1px;
      border-width: 1px;
      -webkit-border-style: solid;
      -moz-border-style: solid;
      -o-border-style: solid;
      -ms-border-style: solid;
      border-style: solid;
      -webkit-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.01), 3px 3px 14px 1px rgba(0, 0, 0, 0.01), 2px 4px 18px 1.5px rgba(0, 0, 0, 0.014);
      -o-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.01), 3px 3px 14px 1px rgba(0, 0, 0, 0.01), 2px 4px 18px 1.5px rgba(0, 0, 0, 0.014);
      -ms-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.01), 3px 3px 14px 1px rgba(0, 0, 0, 0.01), 2px 4px 18px 1.5px rgba(0, 0, 0, 0.014);
      -moz-box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.01), 3px 3px 14px 1px rgba(0, 0, 0, 0.01), 2px 4px 18px 1.5px rgba(0, 0, 0, 0.014);
      box-shadow: -3px -3px 14px -1px rgba(0, 0, 0, 0.01), 3px 3px 14px 1px rgba(0, 0, 0, 0.01), 2px 4px 18px 1.5px rgba(0, 0, 0, 0.014); }
      .blog .blog-container .blog-body h6 {
        padding-left: 15px;
        padding-right: 15px;
        color: #1d2b4c;
        font-size: 1.15rem;
        margin-bottom: 0; }
      .blog .blog-container .blog-body .sub-title {
        padding-left: 15px;
        padding-right: 15px;
        font-size: .95rem;
        color: #444444;
        font-weight: 200;
        padding-bottom: .5em; }
      .blog .blog-container .blog-body .details-container p {
        text-align: left !important;
        padding: 20px 15px 0 15px;
        color: #201D1D; }
      .blog .blog-container .blog-body .details-container a {
        color: #030977;
        text-decoration: underline;
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s; }
        .blog .blog-container .blog-body .details-container a:hover {
          -moz-transition: all 0.35s;
          -webkit-transition: all 0.35s;
          -ms-transition: all 0.35s;
          -o-transition: all 0.35s;
          transition: all 0.35s;
          text-decoration: none; }

/*blog ends*/
/*footer */
.footer-bg {
  padding-top: 5em;
  padding-bottom: 3em;
  position: relative;
  overflow: hidden;
  background: rgba(236, 241, 245, 0.8); }
  .footer-bg::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/footer2.svg);
    background-size: cover;
    background-repeat: no-repeat; }
  .footer-bg .main-head {
    padding-top: 150px;
    padding-bottom: 30px; }
    .footer-bg .main-head p {
      color: #FEFEFE;
      font-weight: 200; }
    .footer-bg .main-head h4 {
      color: #FEFEFE;
      font-size: 18px;
      position: relative;
      padding-bottom: 10px; }
      .footer-bg .main-head h4:after {
        position: absolute;
        content: " ";
        left: 0;
        bottom: 0;
        width: 20%;
        -webkit-border-color: #FEFEFE;
        -moz-border-color: #FEFEFE;
        -o-border-color: #FEFEFE;
        -ms-border-color: #FEFEFE;
        border-color: #FEFEFE;
        -webkit-border-width: 1px;
        -moz-border-width: 1px;
        -o-border-width: 1px;
        -ms-border-width: 1px;
        border-width: 1px;
        -webkit-border-style: solid;
        -moz-border-style: solid;
        -o-border-style: solid;
        -ms-border-style: solid;
        border-style: solid; }
    .footer-bg .main-head ul {
      list-style-type: none;
      padding-left: 0; }
      .footer-bg .main-head ul li {
        padding-bottom: 10px; }
        .footer-bg .main-head ul li a {
          color: #FEFEFE;
          font-weight: 200; }
          .footer-bg .main-head ul li a:hover {
            color: #FF0000; }
    .footer-bg .main-head form input[type=email] {
      color: #201D1D;
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }
      .footer-bg .main-head form input[type=email]:focus {
        box-shadow: none;
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-border-color: #a21b1f;
        -moz-border-color: #a21b1f;
        -o-border-color: #a21b1f;
        -ms-border-color: #a21b1f;
        border-color: #a21b1f;
        -webkit-border-width: 1px;
        -moz-border-width: 1px;
        -o-border-width: 1px;
        -ms-border-width: 1px;
        border-width: 1px;
        -webkit-border-style: solid;
        -moz-border-style: solid;
        -o-border-style: solid;
        -ms-border-style: solid;
        border-style: solid; }
    .footer-bg .main-head form button {
      color: #a21b1f; }
      .footer-bg .main-head form button:focus {
        box-shadow: none;
        -moz-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-border-color: #a21b1f;
        -moz-border-color: #a21b1f;
        -o-border-color: #a21b1f;
        -ms-border-color: #a21b1f;
        border-color: #a21b1f;
        -webkit-border-width: 1px;
        -moz-border-width: 1px;
        -o-border-width: 1px;
        -ms-border-width: 1px;
        border-width: 1px;
        -webkit-border-style: solid;
        -moz-border-style: solid;
        -o-border-style: solid;
        -ms-border-style: solid;
        border-style: solid; }

/*footer ends*/
@media (min-width: 2200px) {
  .blog-body img {
    height: 200px !important; } }
.blog-body img {
  width: 100%;
  object-fit: cover;
  height: 160px; }

@media (max-width: 1200px) {
  .blog {
    padding-left: 0em !important;
    padding-right: 0em !important; }

  .blog-body img {
    height: 130px !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .blog-body img {
    height: 110px !important; } }
@media (min-width: 576px) and (max-width: 767px) {
  .card-content {
    padding: 3em 2em 4em !important; } }
@media (max-width: 575px) {
  .main-head {
    padding-bottom: 5px !important; }

  .main-head2 {
    padding-top: 5px !important; }

  .pad1 {
    padding-bottom: .8em !important; }

  .pad2 {
    padding-top: .8em !important; }

  .mission-header {
    padding-bottom: 10px !important; }

  .hero-head h4 {
    font-size: 28px !important; }
  .hero-head p {
    font-size: 16px !important; } }
@media (max-width: 400px) {
  .card-content {
    padding: 3em 3em 4em !important; } }

/*# sourceMappingURL=main.css.map */
