$getDev-red1:#FF0000;
$getDev-red2:#E92C32;
$getDev-red3:#f65b5b;
$getDev-dark1:#000000;
$getDev-dark2:#201D1D;
$getDev-light:#FEFEFE;
$getDev-light1:#fafafa;
$white:#ffffff;
$link-bg:#28a745;
$getDev-compliment:#a21b1f;
$getDev-text1:#444444;
$getDev-text2:#888888;
$getDev-text3:#666666;
$getDev-gradient1:#1b22a2;
$getDev-gradient3:#efefef;
$getDev-gradient2:#00BFFF;
$getDev-gradient-text1:rgb(29,43,76);
$getDev-gradient-text2:#030977;

